venv/
.venv
Carlos Alcaraz v Novak Djokovic ｜ Gentlemen's Singles Final ｜ Full Match Replay ｜ Wimbledon 2024 \[2L06HxxP1jM].mp4
output/output_video2.mp4/predict/input_video2.mp4
.gitignore
output/output_video2.mp4/predict2/input_video2.mp4

data/new_input_videos
data/keypoint_detection/dataset/images

output/output_video1.mp4
output/output_video3.mp4
output/output_video4.mp4
data/input_video4.mp4
data/input_video3.mp4

/ds_store
.ds_store
data/trajectory_model_videos/*.mp4
data_inference/images_inference/*.jpg
__pycache__/
tracker_stubs/*.pkl
output/final/output_video101.mp4
output/final/output_video102.mp4
output/final/output_video103.mp4
output/final/output_video105.mp4
output/final/output_video108.mp4
output/final/output_video116.mp4
output/final/output_video1000.mp4
output/final/output_video1001.mp4
output/final/output_video1002.mp4
output/final/output_video1003.mp4
output/final/output_video1004.mp4
output/final/output_video1005.mp4
output/final/output_video1006.mp4
output/final/output_video1007.mp4
output/final/output_video1008.mp4
output/final/output_video1009.mp4
output/final/output_video1010.mp4
output/final/output_video1011.mp4
output/final/output_video1012.mp4
output/final/output_video1015.mp4
output/final/output_video1026.mp4
output/final/output_video1033.mp4
output/final/output_video1042.mp4
