venv/
Carlos Alcaraz v Novak Djokovic ｜ Gentlemen's Singles Final ｜ Full Match Replay ｜ Wimbledon 2024 \[2L06HxxP1jM].mp4
output/output_video2.mp4/predict/input_video2.mp4
.gitignore
output/output_video2.mp4/predict2/input_video2.mp4

data/keypoint_detection/data
